Django==4.2.17
psycopg2-binary==2.9.9
dj-database-url==2.2.0
whitenoise==6.6.0
gunicorn==21.2.0
pdfplumber==0.11.0
pdfminer.six==20231228
openpyxl==3.1.2
pillow==10.3.0
python-dateutil==2.9.0.post0
reportlab==4.5.1
python-barcode==0.16.1
bahttext==1.0.2
arabic-reshaper==3.0.0
python-bidi==0.6.10
PyDrive2==1.20.0
PyYAML==6.0.1
django-admin-sortable2==2.2.3
